* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f0f8ff;

  /* background-color: #14213d; */
}
.container {
  display: flex;
  align-items: center;
  /* width: 100%; */
  height: 100vh;
  background-color: white;
  flex-direction: column;
  width: 310px;
  border: 2px solid black;
}
.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  height: fit-content;
  padding: 10px 1px 10px 1px;
  background-color: #4682b4;
  border: 2px solid black;
  border-top: none;
  border-bottom: none;
}
form {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 2px;
  border-radius: 50px;
  /* background-color: orange; */
}
.urlTab {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
}
select {
  border: none;
  padding: 3px 0px 3px 0px;
  outline: none;
  font-size: 15px;
  /* background-color: teal; */
  border-radius: 50px;
  padding-left: 5px;
}

input {
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 50px;
}

button {
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  background-color: brown;
  color: white;
  cursor: pointer;
}
.body {
  width: 100%;
  border: 2px solid black;
  border-right: none;
  border-left: none;
}
textarea {
  width: 93%;
  border: none;
  outline: none;
  padding: 10px;
}
.validClass {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  z-index: 1;
  margin-top: -50px;
}
#jsonIcon {
  width: 50px;
  cursor: pointer;
}
.response {
  width: 100%;
  min-height: 20vh;
  overflow: auto;
}
.emptyResponse {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
#responseImg {
  width: 90%;
}

@media only screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media only screen and (min-width: 425px) {
  .container {
    width: 420px;
  }

  form {
    width: 100%;
    justify-content: center;
  }

  select {
    font-size: 18px;
  }

  input {
    width: 240px;
    font-size: 18px;
  }

  button {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 760px;
  }

  form {
    gap: 10px;
  }

  select {
    font-size: 18px;
  }

  input {
    width: 540px;
    font-size: 18px;
  }

  button {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #responseImg {
    width: 45%;
  }
}
